body{
    background-color: rgb(247, 1, 42);
    width: 100%;
}
*{
    box-sizing: border-box;
}
#Ab{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-left: 450px;
    position: absolute;
    top: 90px;
}
#Pic{
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 90px;
}
#a{
    height: 100px;
    width: 100% ;
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color: magenta;
}
#Num{
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#Em{
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
@media screen and (max-width:575px){
 #Ab{
     margin-top: 50px;
    color: white;
    font-size: small;
} 
#a{
    height: 50px;
    width: 100% ;
    display: flex;
    justify-content: space-around;  
}
body{
    background-color: rgb(247, 1, 42);
    width:100%;
}
a{
    color: white;
    text-decoration: none;
    font-size:small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Pic{
     width: 90%;
    height: 300px;
    margin-top: 100px;
    margin-left: 10px;
}
}